body 
{
    background-color: rgb(246, 245, 240);
    margin:0px;
    font-family:Arial;
    font-size:12px;
}

#content
{
    width:700px;
}

#tdTop
{
  
/* IE10 Consumer Preview */ 
background-image: radial-gradient(circle farthest-side at left center, #FFFFFF 0%, #00A3EF 100%);

/* Mozilla Firefox */ 
/* Opera */ 
/* Webkit (Safari/Chrome 10) */ 
/* Webkit (Chrome 11+) */ 
/* W3C Markup, IE10 Release Preview */ 
    height: 52px;
}


#content
{
    position:absolute;
    background-color:rgb(223, 223, 223);
    top:30%;
    left:30%;
    right:18%;
    height:180px;
    width:600px;
}

#tblContent
{
    margin-top:50px;
    width:600px;
}

#tblUpdatePanel
{
    width:600px;
}

td
{
    width:200px;
    text-align:left;
}